@inject HttpClient Http
@page "/hamster/{Id:int}"
@using System.Net.Http.Json
@using Presentation.HamsterWarsBlazorUI.Models

<div class="grid-wrap">
    <div class="grid-container">
        <div class="card-container">
        <HamsterCard hamster="Hamster"></HamsterCard>
        </div>
    </div>
</div>


@code {
    
    [Parameter]
    public int Id { get; set; }
    
    Hamster Hamster { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Hamster = await Http.GetFromJsonAsync<Hamster>($"/hamsters/{Id}");
        if (Hamster == null)
        {
            
            throw new Exception("Hamster not found");
        }

    }
}
