@page "/"

<PageTitle>Hamster Wars</PageTitle>

<div class="p-1 text-center bg-light">
    <h1 class="display-1 p-2 px-3 text-uppercase text-primary">Hamster Wars</h1>
</div>
<CreateHamsterModal></CreateHamsterModal>
<br />
<NavLink class="nav-link" href="battle">
    <h2 class="p-2 px-3 text-center text-uppercase text-danger">Start a battle</h2>
    <h1 class="p-2 px-3 text-center text-uppercase text-info">Vote for the cutest hamster!</h1>
</NavLink>
<br />
<br />
<br />
<NavLink class="nav-link" href="hamstergrid">
    <h2 class="p-2 px-3 text-center text-uppercase text-secondary">View the Gallery</h2>
</NavLink>
<NavLink class="nav-link" href="create">
    <h2 class="p-2 px-3 text-center text-uppercase text-success">and Upload your own Hamsters</h2>
</NavLink>